.view-orders {
  height: 100vh;
  overflow: hidden;
}
/* ---------------------------- View Order Container---------------------------- */
.view-order-container {
  height: 95%;
  width: 90%;
  margin: auto;
}
/* ---------------------------- View Order Header---------------------------- */
.view-order-header {
  width: 100%;
}
.view-order-header h1 {
  margin-top: 0rem;
  font-size: 3rem;
  text-align: left;
  width: 100%;
}
/* ---------------------------- Nav Tabs ---------------------------- */
.nav-tabs {
  column-gap: 2rem;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.nav-tabs h4 {
  font-weight: 300;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
.active-tab {
  color: white !important;
  position: relative;
}
.active-tab::after {
  content: "";
  width: 75%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------------------- Financial Info ---------------------------- */
.financial-info {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  height: 100%;
  width: 100%;
  grid-gap: 1.5rem;
  margin-top: 3rem;
}
.data-card {
  background-color: #1e202c;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.data-card h2 {
  font-size: 3.5rem;
}
.data-card h4 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
}
/* ---------------------------- Numeric Section ---------------------------- */
.numeric-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.revenue {
  grid-column: span 2;
}
.after-taxes {
  grid-column: span 2;
}
.graph-section {
}
/* ---------------------------- Graph Section ---------------------------- */

/* ---------------------------- Receipt Data ---------------------------- */

.receipt-data {
  width: 100%;
}
/* ---------------------------- Display Receipt Options ---------------------------- */
.view-options {
  border-bottom: solid 3px rgba(255, 255, 255, 0.392);
  padding: 2rem 0 1rem 0;
  margin-bottom: 2rem;
  position: relative;
}
.search-receipt {
  border: solid 1px white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.search-receipt input {
  background: none;
  color: white;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
.display-options {
  column-gap: 3rem;
}
.display-options h5 {
  font-size: 1.2rem;
}
.full-receipt {
  column-gap: 0.5rem;
}
.full-receipt,
.sort,
.filter {
  cursor: pointer;
}
.full-receipt-btn {
  content: "";
  width: 60px;
  height: 30px;
  border-radius: 2rem;
  position: relative;
  background-color: white;
}
.full-receipt-btn::before {
  content: "";
  width: 23px;
  height: 23px;
  background-color: white;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgb(148, 148, 148, 0.74);
}
.full-receipt-on {
  background-color: #20b98a;
}

.full-receipt-on::before {
  transform: translate(120%, -50%);
}
/* ---------------------------- Display Options Modal ---------------------------- */
.display-options-modal {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  bottom: -230px;
  right: 0;
  width: clamp(300px, 30vw, 350px);
  height: auto;
  background-color: #121421;
  border:solid 1px white;
  row-gap: 2rem;
}
.display-options-modal h2 {
    padding-left:3.5rem;
}
.display-option{
    padding-left:4rem;
    text-align: left;
}
.display-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
/* ---------------------------- Receipts ---------------------------- */
.receipts {
  overflow-y: scroll;
  height: clamp(500px, 80vh, 1000px);
}
.receipts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 2rem;
  margin-bottom: 10rem;
  scrollbar-width: none;
}
.receipt-card {
  background-color: #1e202c;
  /* box-shadow: inset rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 6px; */
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
/* ---------------------------- Receipt Meta Data ---------------------------- */

.receipt-content {
  padding: 1rem;
}
.receipt-content h2 {
  font-size: 2rem;
}
.receipt-content h3 {
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.receipt-content h4 {
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
}

/* ---------------------------- Receipt Full Data ---------------------------- */
.receipt-content button {
  margin: 0 auto;
  padding: 1px 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
}

.receipt-full-content {
  row-gap: 0.4rem;
}
.receipt-title {
  width: 100%;
  text-align: center;
}
.receipt-property {
  width: 100%;
}
.items-property {
  margin: 1rem 0;
}
.items-container {
  width: 100%;
  row-gap: 0.5rem;
  margin: 1rem 0;
}
.item-container {
  width: 95%;
  /* padding-left: 1rem; */
}
/* ---------------------------- Receipt Actions ---------------------------- */
.receipt-actions{
  padding: 1rem 0;
  width: 100%;
  height: 2rem;
}
.receipt-delete {
  padding-top: 1rem;
  width: 100%;
}

/* .receipt-actions button{
  border:solid 1px white;
  padding:.8rem 2rem; 
} */