/* ----------------------------- Custom CSS Variables ----------------------------- */
:root {
  --item-delete: clamp(12px, 5vw + 13px, 15px);
  --receipt-width-content: 95%;
}

/* ----------------------------- Receipt ----------------------------- */
.receipt {
  position: relative;
  width: 98%;
  height: 98%;
  margin: auto;
  border-radius: 0.2em;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 2;
  background-color: #121421;
  box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 2px, rgba(255, 255, 255, 1) 0px 0px 2px;
}
.receipt-container {
  width: 100%;
  height: 100%;
}
.receipt h3 {
  font-size: 1.5rem;
}
/* ----------------------------- Receipt Items ----------------------------- */
.receipt-items {
  margin-top: 2rem;
  width: 100%;
  row-gap: 1.5rem;
}
.receipt-item {
  position: relative;
  width: var(--receipt-width-content);
  box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 2px, rgba(255, 255, 255, 1) 0px 0px 2px;
  /* padding: 0.8rem 0; */
  border-radius: 0.3rem;
  cursor: pointer;
}
.receipt-item-content {
  width: 100%;
  padding: 0 0.6rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.receipt-item-content h2 {
  font-size: 1.2rem;
}
.item-name {
  width: 100%;
  height: 100%;
  padding: 0.8rem 0;
}
.delete-icon {
  width: 30px;
  height: 30px;
}
.receipt-item img {
  width: var(--item-delete);
}
.receipt-selection-list {
  grid-column: span 2;
}
.receipt-selection-list ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}
.receipt-modifiers {
  grid-column: span 2;
  row-gap: 1rem;
}
.modifier {
}
.receipt-modifiers h6 {
  font-size: 1.2rem;
  color: #20b78b;
  font-weight: 300;
  padding: 0.8rem 0 0 0;
  grid-column: span 2;
}
.modifier-container {
  width: 100%;
  grid-column: span 1;
  display: grid;
  grid-template-columns: 9fr 1fr;
  row-gap: 1.5rem;
  margin: 0.5rem 0;
  column-gap: 1rem;
}
.receipt-modifiers p {
  padding: 0 0 0.2rem 0;
  font-size:1.1rem;
}
.modifier-right-section {
  column-gap: 1rem;
}
.modifier-price{
  font-size:1.1rem;
}
.remove-modifier {
  justify-self: center;
  width: 100%;
  /* height: 100%; */
  min-width: 35px;
  max-height: 40px;
  font-size: 1.5rem;
  background-color: crimson;
}
.totals-and-options {
  width: 100%;
}
/* ----------------------------- Totals ----------------------------- */
.totals {
  /* height:100%; */
  width: var(--receipt-width-content);
  position: relative;
  row-gap: 1rem;
  padding: 2rem 0;
}
.total-container {
  width: 100%;
}
.price-label {
  font-size: 1.1rem;
}
.price-amount {
  font-size: 1.1rem;
}
.delivery {
  /* padding-top: 1.5rem; */
}

/* ----------------------------- Receipt Options ----------------------------- */
.receipt-options {
  background-color: #1e202c;
  width: var(--receipt-width-content);
  padding: 1rem 0;
  border-radius: 0.3rem;
  margin: 0 0 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.receipt-options label {
}
.receipt-options span {
  padding-bottom: 0.5rem;
}
.receipt-options input {
  width: 25px;
  height: 25px;
}
