/* Custom CSS Variables */
:root {
  --options-gap: clamp(2vw, 10vw, 10vw);
  --options-padding: clamp(0.5rem, 50vw + 1rem, 1rem);
  --options-height: clamp(30px, 10vw, 50px);
  --main-option-WH: clamp(30px, 10vw + 40px, 50px);
  --selection-box-height: 100%;
  --selection-min-height: 70px;
  --item-name-font-size: 1.3rem;
  --items-section-height: clamp(230px, 30vw, 400px);
  /* --items-section-height: 100%; */
}

/* ----------------------------- Items ----------------------------- */
.items {
  display: grid;
  height: 100%;
  width: 95%;
  max-height: 100vh;
  grid-template-rows: 4fr 4fr 1fr;
  margin: auto;
  position: relative;
  align-items: flex-start;
  /* row-gap: 2.5rem; */
}
/* ----------------------------- Selection ----------------------------- */
.selection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.3em;
  margin: 1em 0;
  height: var(--items-section-height);
  overflow-y: scroll;
}
.selection-item {
  background-color: rgb(247, 232, 191);
  color: black;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  padding: 0 0.5rem;
  height: var(--selection-box-height);
  height: 100%;
}
.selection-item p {
  color: black;
  font-weight: 400;
  text-align: center;
  font-size: var(--item-name-font-size);
  padding: 0 0.1rem;
}
.choose-item {
  background-color: #d0e2b0;
  text-align: center;
}
/* ----------------------------- Category ----------------------------- */
.category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.3em;
  margin-top: 1em;
  align-items: center;
  height: var(--items-section-height);
  overflow-y: scroll;
}
.category-item {
  background-color: #a52a2a;
  color: white;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  font-size: var(--item-name-font-size);
  height: var(--selection-box-height);
  min-height: var(--selection-min-height);
  padding: 0 0.5rem;
  /* position: relative;
  top: var(--selection-min-height); */
}
/* ----------------------------- Item Options ----------------------------- */
.item-options {
  /* padding: 0 3rem; */
  align-self: center;
  height: 100%;
}
.trash,
.info,
.custom,
.undo,
.search,
.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-options {
  column-gap: var(--options-gap);
  background-color: #1e202c;
  padding: 0 var(--options-padding);
  border-radius: 1rem;
  height: var(--options-height);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.info,
.custom,
.undo,
.search {
  cursor: pointer;
  width: var(--main-option-WH);
  height: var(--main-option-WH);
}
.item-options img {
  width: clamp(20px, 10vw, 23px);
}
.elipse,
.trash {
  height: var(--options-height);
  background-color: #1e202c;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.elipse img,
.trash img {
  transform: scale(1);
  padding: 0 1em;
  width: clamp(20px, 10vw, 23px);
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */

/* Tablets */
@media only screen and (max-width: 1100px) {
  :root {
    --item-name-font-size: 1.1rem;
    --items-section-height: clamp(200px, 30vw, 400px);
  }
}
/* Laptop Screens */
@media only screen and (max-width: 1550px) {
  :root {
    --item-name-font-size: 1.1rem;
    --items-section-height: clamp(200px, 30vw, 300px);
  }
  .category {
    /* background-color: yellow; */
  }
}
