/* Custom CSS Variables */
:root {
  --options-gap: clamp(2vw, 10vw, 10vw);
  --options-padding: clamp(0.5rem, 50vw + 1rem, 1rem);
  --options-height: clamp(30px, 10vw, 50px);
  --main-option-WH: clamp(30px, 10vw + 40px, 50px);
  --category-item-font-size: clamp(0.8rem, 20% + 0.7rem, 0.9rem);
  --selection-item-font-size: clamp(0.8rem, 20% + 0.7rem, 0.9rem);
}

/* ----------------------------- Items ----------------------------- */
.items {
  display: grid;
  height: 100%;
  width: 95%;
  max-height: 100vh;
  grid-template-rows: 4fr 4fr 1fr;
  margin: auto;
  position: relative;
}
/* ----------------------------- Selection ----------------------------- */
.selection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.3em;
  margin: 1em 0;
}
.selection-item {
  background-color: #f2d38f;
  color: black;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}
.selection-item p {
  color: black;
  font-weight: 300;
  text-align: center;
  font-size: var(--category-item-font-size);
  padding: 0 0.1rem;
}
.choose-item {
  background-color: #d0e2b0;
  text-align: center;
}
/* ----------------------------- Category ----------------------------- */
.category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.3em;
  margin-top: 1em;
}
.category-item {
  background-color: #262835;
  color: white;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  font-weight: 300;
  text-align: center;
  font-size: var(--category-item-font-size);
  padding: 0 0.1rem;
}
/* ----------------------------- Item Options ----------------------------- */
.item-options {
  /* padding: 0 3rem; */
  align-self: center;
}
.trash,
.info,
.custom,
.undo,
.search,
.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-options {
  column-gap: var(--options-gap);
  background-color: #1e202c;
  padding: 0 var(--options-padding);
  border-radius: 1rem;
  height: var(--options-height);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.info,
.custom,
.undo,
.search {
  cursor: pointer;
  width: var(--main-option-WH);
  height: var(--main-option-WH);
}
.item-options img {
  width: clamp(20px, 10vw, 23px);
}
.elipse,
.trash {
  height: var(--options-height);
  background-color: #1e202c;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.elipse img,
.trash img {
  transform: scale(1);
  padding: 0 1em;
  width: clamp(20px, 10vw, 23px);
}
