.numpad-page {
  color: black;
  right: 15em;
  border: solid 1px white;
  height: 100%;
  width: 100%;
  display: grid;
  background-color: rgba(131, 131, 131, 0.548);
  border-radius: 0.2em;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}
.numpad-items {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  background-color: #1e202c;
}
.delete-numpad-key {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  padding: 0.5em 0;
  font-size: 1rem;
  background-color: #1e202c;
}
.clear-numpad-key {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  background-color: #1e202c;
}