:root {
  --customer-info-h1: clamp(1rem, 50% + 20px, 2rem);
  --customer-info-btn: clamp(1rem, 30vw + 1rem, 1.5rem);
  --customer-info-content-width: 70%;
}

.customer-info {
  row-gap: 1rem;
  height: 98%;
  width:95%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: relative;
  background-color: #121421;
  box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 0px, rgba(255, 255, 255, 1) 0px 0px 3px;
}
h1 {
  font-size: var(--customer-info-h1);
}
.input-info {
  width: 100%;
}
.input-info input,
.input-info button {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);

  /* box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 2px, rgba(255, 255, 255, 1) 0px 0px 2px; */
  padding: 0.8rem 0;
  width: var(--customer-info-content-width);
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  resize: none;
  border-radius: 0.5rem;
  /* background-color: #3968ff; */
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: none;
}

/* ----------------------------- Print Options ----------------------------- */
.print {
  background-color: #20b68a;
  width: var(--customer-info-content-width);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.printer {
  margin: 1rem 0;
}
.printer select {
  background-color: #121421;
  border: 1px solid white;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}
.print-options {
  height: 100%;
  min-width: 300px;
  background-color: #141418;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 2px, rgba(255, 255, 255, 1) 0px 0px 2px; */
}
.exit-customer-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: crimson;
  z-index: 0;
}
