/* Global Variables */
:root {
  --edit-selection-list-height: clamp(400px, 45vh, 600px);
  --edit-selection-items-height: 100%;
  --add-or-no-add-height: clamp(400px, 40vh, 600px);
  --swap-actions-min-height: 80px;
}
/* ----------------------------- Edit Item Container ----------------------------- */
.edit-item-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e202c;
  /* border: solid 1px white; */
  box-shadow: inset rgba(255, 255, 255, 1) 0px 0px 2px, rgba(255, 255, 255, 1) 0px 0px 2px;
  z-index: 2;
}
.edit-item {
  width: 100%;
  height: 100%;
}
.edit-item-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
/* ----------------------------- Edit Tabs ----------------------------- */
.edit-item-tabs {
  width: 100%;
  height: 85px;
}
.edit-item-tabs button {
  font-size: 1.2rem;
}
.editing-tab-active {
  color: #20b98a;
}

/* ----------------------------- Selection Items ----------------------------- */
.edit-selection-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.2rem;
  width: 98%;
  height: 100%;
  margin: auto;
  /* height: 60vh; */
  height: var(--edit-selection-list-height);
  overflow-y: scroll;
  scrollbar-width: none;
}
.edit-selection-item {
  /* background-color: #f2d38f; */
  min-height: 90px;
  color: black;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 300;
  height: var(--edit-selection-items-height);
}
.selection-content {
  display: grid;
  grid-template-rows: 6fr 1fr;
  row-gap: 2rem;
}

/* ----------------------------- Selection Choices ----------------------------- */
.selection-choices {
}
.selection-choice {
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  border: solid 1px #f2d38f;
  border-radius: 0.2rem;
  color: white;
  padding: 0 0.5rem;
  font-weight: 400;
  font-size: 1.4rem;
}
/* ----------------------------- Edit Item Buttons ----------------------------- */
.flat-fee-modifier {
  column-gap: 1rem;
}
.flat-fee-clear {
  background-color: crimson;
  padding: 0.5rem 1rem;
  min-height: 40px;
}
.flat-fee-price {
  min-height: 40px;
  background-color: transparent;
  border: solid 1px white;
  text-align: center;
  font-size: 1.2rem;
  width: clamp(100px, 30vw, 150px);
}
.flat-fee-add {
  background-color: #20b98a;
  padding: 0.5rem 1rem;
  min-height: 40px;
  border-radius: 0.4rem;
}
.edit-modfiy-quantity {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  flex-wrap: wrap;
}
.edit-modfiy-quantity h4 {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.edit-increment-item {
  font-size: 1.5rem;
  background-color: #3968ff;
  border-radius: 0.2rem;
  width: 30px;
  height: 30px;
}
.edit-decrement-item {
  font-size: 1.5rem;
  background-color: #3968ff;
  border-radius: 0.2rem;
  width: 30px;
  height: 30px;
}
.edit-quantity {
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
}
.done-edit {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  border-radius: 0.5rem;
  background-color: #3968ff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  justify-self: center;
}
/* ----------------------------- Swap Selection ----------------------------- */
.swap-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.swap-selection-list {
  padding: 0 0.5rem;
}
.swap-category-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  grid-gap: 0.2rem;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}
.swap-selection-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  grid-gap: 0.2rem;
}
.swap-selection {
  /* background-color: #197e5f; */
  cursor: pointer;
  font-weight: 300;
  text-align: center;
  font-size: var(--item-name-font-size - 8px);
  padding: 0 0.5rem;
}
/* ----------------------------- Swap Category ----------------------------- */
.swap-category {
  background-color: #262835;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: var(--item-name-font-size - 8px);
  text-align: center;
  padding: 0 0.5rem;
}

/* ----------------------------- Swap Actions----------------------------- */
.swap-actions {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.3rem;
  margin: auto;
  padding: 1rem 0;
  row-gap: 1rem;
}
.top-swap-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  justify-items: center;
  column-gap: 1rem;
}

.current-swap-item,
.desired-swap-item {
  border: solid 1px white;
  background-color: transparent;
  height: 100%;
  width: 100%;
  max-height: 45px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}
/* .bottom-swap-container {
  column-gap: 4rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
} */

.swap-actions button {
  height: 100%;
  width: 100%;
}
.clear-swap {
  background-color: crimson;
  border-radius: 0.5rem;
  height: 100%;
  padding: 0.5rem 0;
}
.add-swap {
  background-color: #20b98a;
  border-radius: 0.5rem;
  height: 100%;
}
.swap-price-container {
  width: 100%;
  /* grid-column: span 5; */
}
.swap-price-container input {
  width: 100%;
  background: transparent;
  border: solid 1px white;
  text-align: center;
  font-size: 1.2rem;
  height: 100%;
}
/* ----------------------------- Add/No Add Items ----------------------------- */
.add-or-no-add {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  grid-gap: 0.2rem;
  width: 95%;
  margin: auto;
  height: var(--add-or-no-add-height);
  max-height: 70vh;
}
.add-or-no-add-items {
  /* background-color: #f2d38f; */
  cursor: pointer;
  border-radius: 0.3rem;
}

.checkbox-container {
  border: solid 2px black;
  width: 30px;
  height: 30px;
}
.checkbox-container img {
  position: relative;
  bottom: 2px;
  width: 20px;
}
.add-or-no-add-items p {
  color: black;
  font-size: clamp(1rem, 10% + 1rem, 1.2rem);
  font-weight: 400;
  padding: 0.5rem 0;
  text-align: center;
  font-size: var(--item-name-font-size - 8px);
}
