/* ---------------------------- Order Custom Variables ---------------------------- */
:root{

}
/* ---------------------------- Order Container ---------------------------- */
.order {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height:100vh;
}
/* ---------------------------- Receipt ---------------------------- */
.receipt-section{
  
}

/* ---------------------------- Items ---------------------------- */
.items-section{
    /* border:solid 1px white; */
}