/* ---------------------------- Order Custom Variables ---------------------------- */
:root {
  --receipt-min-width: 280px;
  --order-min-width: 700px;
}
/* ---------------------------- Order Container ---------------------------- */
.order {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
/* ---------------------------- Receipt ---------------------------- */
.receipt-section {
  overflow: hidden;
  scrollbar-width: none;
  width:100%;
  min-width: var(--receipt-min-width);
}

/* ---------------------------- Items ---------------------------- */
.items-section {
  /* border:solid 1px white; */
  min-width: var(--order-width);
}
