/* ----------------------------- Print Options ----------------------------- */
.printer-options {
  height: 100%;
}
.printer-options-content {
  height: 88%;
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 4rem;
}
.printer-options h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
.printer-option {
  position: relative;
}
.printer-option h5 {
  font-size: 1.2rem;
}
.printer-choice {
  background-color: #121421;
  padding: 0.5rem 1rem;
  border: solid 1px white;
  border-radius: 0.3rem;
  text-align: center;
  width: 100%;
}
.printer-options {
}
.printer-choice {
  background-color: #0d0f18;
  font-size: 1.2rem;
}
.printer-selection {
  position: absolute;
  bottom:-50%;
  transform: translateY(100%);
  background-color: #0d0f18;
  border: solid 1px white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem 0;
  z-index: 1;
}
.printer {
  width: 100%;
  padding: 0 0.5rem;
}
.printer-name {
  font-size: 1.2rem;
  padding: 0.8rem 0;
  height: 100%;
  width: 100%;
}
.printer-name:hover {
  background-color: antiquewhite;
  color: #0d0f18;
}
