.search-item-container {
  position: absolute;
  top: 0;
  left: -3%;
  right: -3%;
  bottom: 0;
}
.search-item {
  position: absolute;
  top:1rem;
  right:1rem;
  /* width:clamp(500px, 50vw + 500px, 700px); */
  /* height: 100%; */
  z-index: 2;
  /* background-color: #090a10;  */
}
.search-item h1 {
  text-align: left;
  width: 100%;
  margin: 1rem 0;
}
.search-item-content {
  /* width: 70%; */
  /* height: 80%; */
  /* position: absolute; */
  /* top:0; */
  min-width: 35vw;
  background-color: #090a10;


}
.search-item-content input {
  background-color: white;
  width: 100%;
  font-size: 1.7rem;
  padding: 1rem 0;
  text-align: center;
  color: black;
  /* background-color: #090a10; */
  border-bottom: solid 1px white;
}
.search-list {
  width: 100%;
  /* height: clamp(400px, 55vh + 200px, 800px); */
  margin-top: 2px;
  row-gap: 2px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px;
  background-color: #090a10;

}
.suggested-search-item {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 0;
  background-color:rgb(40, 92, 138);
}
.exit-search {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #a52a2a;
  font-size: 2rem;
  width: 45px;
  height: 45px;
  z-index: 2;
}
