/* ---------------------------- CSS Variables ---------------------------- */
:root {
  --login-height: clamp(300px, 100vh, 100vh)
  --login-width:clamp(300px, 100vw, 100vw);
  --border-width: clamp(340px, 40vw, 550px);
  --logo-font: clamp(1.3rem, 50% + 1rem, 1.8rem);
  --form-font: clamp(1.3rem, 50% + 1rem, 1.8rem);
  --logo-width:clamp(210px, 20%, 300px);
  --box-shadow-WH: clamp(200px, 90%, 90%);
  --form-width:clamp(300px, 100%, 100%);
  --form-height-pad: clamp(0rem, 5vw, .5rem);
  --form-height-mar: clamp(4rem, 20vw, 5rem);
}

/* ---------------------------- Parent Class ---------------------------- */
.login {
  color: var(--textTheme);
  background-color: var(--backgroundTheme);
  height: clamp(100px, 100vh, 100vh);
  width: var(--login-width);
}

/* ---------------------------- Login-box-shadow ----------------------------*/
.login-box-shadow {
  border-radius: var(--content-border-radius);
  box-shadow: var(--content-box-shadow);
  width: var(--box-shadow-WH);
  height: var(--box-shadow-WH);
  margin: auto;
}

/* ---------------------------- Logo Container ---------------------------- */
.logo-container {
  width: 100%;
}
.login img {
  width: var(--logo-width);
  height:auto;
}
.login h6 {
  color: rgba(255, 255, 255, 44%);
  padding-top: 1em;
  font-size: var(--logo-font);
  text-align: center;
  font-weight: var(--lessBold);
  width: var(--border-width);
}

/* ---------------------------- Form Container ----------------------------*/
.login-container {
  width: var(--form-width);
}
.login h3 {
  padding-top:2rem;
  font-size: var(--form-font);
  padding-bottom: 1.5em;
  text-align: left;
  width: var(--border-width);
}
.login input {
  background-color: transparent;
  border-bottom: 1px solid white;
  font-size: var(--form-font);
  padding-bottom: var(--form-height-pad);
  width: var(--border-width);
}
.login-email {
  margin-bottom: var(--form-height-mar);
}
.login button {
  font-size: var(--form-font);
  width: var(--border-width);
  background-color: var(--green-btn);
  border-radius: var(--button-border-radius);
  padding: 1rem 0rem;
  margin: clamp(1em, 10vh, 5em);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ---------------------------- Media Queries ---------------------------- */
@media (max-width: 480px) {
  :root{
  --box-shadow-WH: clamp(100px, 100%, 100%);

  }
  .login-box-shadow {
    box-shadow: none;
  }
}
@media (min-height: 1000px){
  .content-container{
    justify-content: space-around !important;
  }
}
